nav>ul>li{
  margin-right: 30px;
  display: inline;
}
nav>li>a{
  text-decoration: none;
}
footer{
  margin-top: 30px;
  text-align: center;
}
article>header{
  margin: 30px;
}
.contain{
  margin-top: 20px;
  margin-right: 30px;
  border: 5px solid tomato;
  padding: 20px;
}
article>section>li{
  display: inline;
}